<%= form_for(@progress_entry) do |f| %>
  <% if @progress_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@progress_entry.errors.count, "error") %> prohibited this progress_entry from being saved:</h2>

      <ul>
      <% @progress_entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :opt, %><br>
    <%= f.text_field :opt, %>
  </div>
  <div class="field">
    <%= f.label :accuracy %><br>
    <%= f.number_field :accuracy %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
