<h1>Listing progress_entries</h1>

<table>
  <thead>
    <tr>
      <th>Opt,</th>
      <th>Accuracy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @progress_entries.each do |progress_entry| %>
      <tr>
        <td><%= progress_entry.opt, %></td>
        <td><%= progress_entry.accuracy %></td>
        <td><%= link_to 'Show', progress_entry %></td>
        <td><%= link_to 'Edit', edit_progress_entry_path(progress_entry) %></td>
        <td><%= link_to 'Destroy', progress_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Progress entry', new_progress_entry_path %>
